<td>{{flowStep.step}}</td>
<td>{{flowStep.description}}</td>
<td>{{flowStep.process}}</td>
<td>{{flowStep.goto_true}}</td>
<td>{{flowStep.goto_false}}</td>
<td>{{enteredAt}}</td>
<td>{{startedAt}}</td>
<td>{{finishedAt}}</td>
<td>{{paramsString}}</td>