<td>{{flowStep.step}}</td>
<td>{{flowStep.description}}</td>
<td>{{flowStep.process}}</td>
<td>{{flowStep.goto_true}}</td>
<td>{{flowStep.goto_false}}</td>
<td>{{enteredAt}}</td>
<td>{{startedAt}}</td>
<td>
  {{#if finishedAt}}
    {{finishedAt}}
  {{else}}
    {{#if enteredAt}}
      <button class="btn btn-primary" {{action 'flowStepSuccess' flowStep.job_id flowStep.step}}>{{t 'flowStep.manual_finish'}}</button>
    {{/if}}
  {{/if}}
</td>
<td>{{paramsString}}</td>
<td>{{flowStep.status}}</td>
