{{#if item.children}}
  <a href="" class="toggle-icon {{unless children.length 'leaf'}}" {{action 'toggle'}}>
  {{#if isExpanded}}
  <i class="fa fa-folder-open-o"></i>
  {{else}}
  <i class="fa fa-folder-o"></i>
  {{/if}}
  {{item.name}} 
</a>
  
{{else}}
  <a style="color:black;" href="{{fileUrl}}" target="_blank"><i class="fa {{icon}}"> </i> <strong>{{item.name}}</strong></a> <span style="margin-left:20px;">{{byteString}}</span>
{{/if}}

{{#if isExpanded}}
  <div style="padding-left:10px">
  {{#each item.children as |child|}}
    {{tree-item item=child parentPath=path jobId=jobId}}
  {{/each}}
  </div>
{{/if}}
