{{#if error}}
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
{{/if}}

<label class="col-xs-12">{{t 'users.username'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.username}}
</label>

<label class="col-xs-12">{{t 'users.name'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.name}}
</label>

<label class="col-xs-12">{{t 'users.email'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.email}}
</label>

<label class="col-xs-12">{{t 'users.role'}}
  {{view 'select' content=roleSelection
  value=model.role
  optionValuePath="content.name"
  optionLabelPath="content.name"
  }}
</label>