{{#if error}}
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
{{/if}}

<label class="col-xs-12">{{t 'jobs.name'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.name}}
</label>

<label class="col-xs-12">{{t 'jobs.title'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.title}}
</label>

<label class="col-xs-12">{{t 'jobs.author'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.author}}
</label>

<label class="col-xs-12">{{t 'jobs.comment'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.comment}}
</label>

<label class="col-xs-12">{{t 'jobs.object_info'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.object_info}}
</label>

<label class="col-xs-12">{{t 'jobs.copyright'}}
  {{input type="text" classBinding=":form-control :col-xs-6" value=model.copyright}}
</label>
