{{#link-to 'users.index.new' class="btn btn-primary pull-right"}}{{t 'users.new'}}{{/link-to}}
<table class="table">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>
  {{#each user in model}}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{#link-to 'users.index.edit' user.id}}{{t 'users.edit'}}{{/link-to}}</td>
    </tr>
  {{/each}}
</table>
{{outlet}}