<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{t 'sources.formlabel'}}</div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-xs-12">{{t 'jobs.source'}}
        {{view 'select' content=sourceSelection
          value=model.source
          optionValuePath="content.name"
          optionLabelPath="content.label"
        }}
      </label>
      <label class="col-xs-12">{{t 'jobs.catalog_id'}}
        {{input type="text" classBinding=":form-control :col-xs-6" value=model.catalog_id}}
      </label>

      <div class="col-xs-12">
        <button class="btn btn-primary" {{action 'fetchSource' model}}>{{t 'sources.fetch'}}</button>
        {{#link-to 'node.show' class="btn btn-default"}}{{t 'nodes.cancel'}}{{/link-to}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
