<h3>This is in source.hbs</h3>
<div class="min-sidebar">
  <h3>{{t 'sources.formlabel'}}</h3>
  <div class="form-group col-xs-12">
    <div class="col-xs-6 col-md-4">
    <label>{{t 'sources.formlabel'}}</label>
    </div>
    <div class="col-xs-6 col-md-8">
      {{#if error}}
      {{error.msg}}
      {{/if}}
    </div>
    <div class="col-xs-12">
      {{view 'select' content=sourceSelection
        value=model.source
        optionValuePath="content.name"
        optionLabelPath="content.label"
        }}
      {{input type="text" classBinding=":form-control :col-xs-6" value=model.name}}
    </div>
  </div>
  <button class="btn btn-primary" {{action 'fetchSource' model}}>{{t 'sources.fetch'}}</button>
  <div class="clearfix"></div>
</div>


<div>
{{outlet}}

</div>
