{{#unless hasFetchedData}}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{t 'sources.formlabel'}}</div>
  </div>
  <div class="panel-body">
    <div class="form-group">
    <form {{action 'fetchSource' model on="submit"}}>
      {{#if error}}
        <div class="alert alert-danger">
          {{error.msg}}
        </div>
      {{/if}}

      <label class="col-xs-12">{{t 'jobs.source'}}
        {{view 'select' content=sourceSelection
          value=model.source
          optionValuePath="content.name"
          optionLabelPath="content.label"
        }}
      </label>
      {{#if isDC}}
        {{input type="hidden" classBinding=":form-control :col-xs-6" value=model.catalog_id}}
        <label class="col-xs-12">{{t 'sources.dc.title'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.title}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.creator'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.creator}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.subject'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.subject}}
        </label>

        <label class="col-xs-12">{{t 'sources.dc.description'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.description}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.publisher'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.publisher}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.contributor'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.contributor}}
        </label>

        <label class="col-xs-12">{{t 'sources.dc.date'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.date}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.type'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.type}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.format'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.format}}
        </label>

        <label class="col-xs-12">{{t 'sources.dc.identifier'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.identifier}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.source'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.source}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.language'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.language}}
        </label>

        <label class="col-xs-12">{{t 'sources.dc.relation'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.relation}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.coverage'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.coverage}}
        </label>
        <label class="col-xs-12">{{t 'sources.dc.rights'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc.rights}}
        </label>

      {{else}}
        <label class="col-xs-12">{{t 'jobs.catalog_id'}}
          {{focus-input type="text" classBinding=":form-control :col-xs-6" value=model.catalog_id id="catalog_id_input_field"}}
        </label>
      {{/if}}

      <div class="col-xs-12">
        <button class="btn btn-primary" {{action 'fetchSource' model}}>{{t 'sources.fetch'}}</button>
        {{#link-to 'node.show' class="btn btn-default"}}{{t 'nodes.cancel'}}{{/link-to}}
      </div>
      </form>
    </div>
  </div>
</div>
{{/unless}}
{{outlet}}
