<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{t 'sources.formlabel'}}</div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-xs-12">{{t 'jobs.source'}}
        {{view 'select' content=sourceSelection
          value=model.source
          optionValuePath="content.name"
          optionLabelPath="content.label"
        }}
      </label>
      {{#if isDC}}
        {{input type="hidden" classBinding=":form-control :col-xs-6" value=model.catalog_id}}
        <label class="col-xs-12">{{t 'jobs.dc.title'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_title}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.creator'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_creator}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.subject'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_subject}}
        </label>

        <label class="col-xs-12">{{t 'jobs.dc.description'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_description}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.publisher'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_publisher}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.contributor'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_contributor}}
        </label>

        <label class="col-xs-12">{{t 'jobs.dc.date'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_date}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.type'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_type}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.format'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_format}}
        </label>

        <label class="col-xs-12">{{t 'jobs.dc.identifier'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_identifier}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.source'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_source}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.language'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_language}}
        </label>

        <label class="col-xs-12">{{t 'jobs.dc.relation'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_relation}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.coverage'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_coverage}}
        </label>
        <label class="col-xs-12">{{t 'jobs.dc.rights'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.dc_rights}}
        </label>

      {{else}}
        <label class="col-xs-12">{{t 'jobs.catalog_id'}}
          {{input type="text" classBinding=":form-control :col-xs-6" value=model.catalog_id}}
        </label>
      {{/if}}

      <div class="col-xs-12">
        <button class="btn btn-primary" {{action 'fetchSource' model}}>{{t 'sources.fetch'}}</button>
        {{#link-to 'node.show' class="btn btn-default"}}{{t 'nodes.cancel'}}{{/link-to}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
