<!-- Flow Step Modal -->
<div class="modal fade" id="flowStepModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelFlowStep">{{t 'flowStep.set_new_flow_step'}}</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <span class="input-group-addon" id="status-text">{{t 'jobs.status'}}
          </span>
          {{view "select"
          classNames='form-control' 
          content=flowStepItems
          optionValuePath="content.value"
          optionLabelPath="content.label"
          value=model.current_flow_step}}
        </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="recreateFlow" checked=recreateFlow}}
              Återskapa flöde från konfiguration
            </label>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" {{action 'setFlowStep' model recreateFlow}}>{{t 'flowStep.set_new_flow_step'}}</button>
      </div>
    </div>
  </div>
</div>

<!-- UnQuarantine Modal -->
<div class="modal fade" id="unQuarantineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{t 'jobs.unQuarantine'}}</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <span class="input-group-addon" id="status-text">{{t 'jobs.status'}}
          </span>
          {{view "select"
          classNames='form-control' 
          content=flowStepItems
          optionValuePath="content.value"
          optionLabelPath="content.label"
          value=model.current_flow_step}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" {{action 'unQuarantineJob' model}}>{{t 'jobs.unQuarantine'}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Quarantine Modal -->
<div class="modal fade" id="quarantineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">{{t 'jobs.quarantine'}}</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <span class="input-group-addon" id="message-text">{{t 'jobs.message'}}
          </span>
        {{input value=message classNames='form-control'}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" {{action 'quarantineJob' model message}}>{{t 'jobs.quarantine'}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Restart Modal -->
<div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel3">{{t 'jobs.restart'}}</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <span class="input-group-addon" id="restart-message-text">{{t 'jobs.message'}}
          </span>
        {{input value=message classNames='form-control'}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" {{action 'restartJob' model message}}>{{t 'jobs.restart'}}</button>
      </div>
    </div>
  </div>
</div>
