<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{t 'jobs.header'}}</div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="input-group">
          {{input value=query class="form-control"
          enter='searchJobs'
          placeholderTranslation="jobs.search"}}
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" {{action 'searchJobs' query}}>{{t 'jobs.search'}}</button>
          </span>

        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="input-group">
        <span class="input-group-addon" id="status-text">{{t 'jobs.status'}}</span>
          {{#x-select value=state class="form-control"}}
            {{#x-option}}---{{/x-option}}
            {{#each stateSelection as |option|}}
              {{#x-option value=option.value}}{{option.label}}{{/x-option}}
              {{/each}}
            {{/x-select}}
        </div>
      </div>
    </div>
    {{pagination-pager-data pagination=model.meta.pagination total=model.meta.query.total}}
  </div>
  
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'jobs.id'}}</th>
          <th>{{t 'jobs.name'}}</th>
          <th>{{t 'jobs.breadcrumb'}}</th>
          <th>{{t 'jobs.flowStep'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |job|}}
          {{job-row job=job showWorkOrder=false}}
        {{/each}}
      </tbody>
    </table>
    {{pagination-pager pagination=model.meta.pagination}}
  </div>
</div>
