<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{t 'jobs.header'}}</div>
  </div>
  <div class="panel-body">
    <div class="input-group col-xs-6">
      {{input value=query class="form-control"
              action='searchJobs'
              placeholderTranslation="jobs.search"}}
       <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action 'searchJobs' query}}>{{t 'jobs.search'}}</button>
      </span>
      
    </div>
    Status:
        {{view "select"
         content=statusSelection
         optionValuePath="content.value"
         optionLabelPath="content.label"
         value=status}}
  </div>
  <div class="panel-body">
    {{pagination-pager pagination=model.meta.pagination}}
  </div>
  <div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{t 'jobs.id'}}</th>
        <th>{{t 'jobs.name'}}</th>
        <th></th>
        <th>{{t 'jobs.breadcrumb'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each job in model}}
        <tr>
          <td>{{job.id}}</td>
          <td>{{link-to job.display 'jobs.show' job.id}}</td>
          <td>{{#link-to 'node.show.jobs.edit' id job.id}}{{t 'jobs.edit'}}{{/link-to}}</td>
          <td>{{#link-to 'node.show' job.treenode_id}}{{job.breadcrumb_string}}{{/link-to}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
