{{#if breadcrumb}}
<ul class="breadcrumb">
  <li>{{#link-to 'node.show' 'root'}}{{t 'nodes.root'}}{{/link-to}}</li>
  {{#each parent in model.breadcrumb}}
  {{#if parent.id}}
  <li>{{link-to parent.name 'node.show' parent.id}}</li>
  {{else}}
  <li>{{parent.name}}</li>
  {{/if}}
  {{/each}}
</ul>
{{/if}}

<div class="navbar navbar-default sub-navbar">
  <div class="navbar-header">
    <a href="javascript:void(0)" class="navbar-brand">{{id}}{{#if quarantined}} <span class="badge"> {{t 'menu.quarantine'}}</span>{{/if}}</a>
  </div>
  <ul class="navbar-nav nav navbar-right">
    {{#if session.can_manage_jobs}}
      {{#if model.has_pdf}}
        <a class="btn navbar-btn" {{bind-attr href=pdfUrl}} target="_blank"><i class="fa fa-file-pdf-o fa-2x"></i></a>
      {{/if}}
      {{#link-to 'jobs.show.edit' model class="btn btn-primary navbar-btn"}}{{t 'jobs.edit'}}{{/link-to}}
      <button class="btn btn-danger navbar-btn" {{action 'deleteJob' id}}>{{t 'jobs.delete'}}</button>
      {{print-link jobId=model.id type="button"}}
      {{#if startable}}
      <button class="btn btn-primary navbar-btn" {{action 'startJob' id}}>{{t 'jobs.start'}}</button>
      {{/if}}
      {{#if model.quarantined}}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#unQuarantineModal">
        {{t 'jobs.unQuarantine'}}
      </button>
      {{else}}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#quarantineModal">
        {{t 'jobs.quarantine'}}
      </button>
      {{/if}}
    {{/if}}
  </ul>
</div>

{{outlet}}

{{#if model.error}}
<div class="alert alert-danger">
  {{model.error.msg}}
</div>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><strong>{{model.id}}</strong> {{model.display}}</div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="alert alert-success">
        <strong>Status:</strong> {{model.status_string}}
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.source'}}</strong> 
        </div>
        <div class="col-xs-9">
          {{model.source_label}} ( 
          {{#if model.source_link}}
            <a {{bind-attr href=source_link}} target="_blank">{{model.catalog_id}}</a>
          {{else}}
            {{model.catalog_id}}
          {{/if}}
          )
        </div>
      </div>
      
      {{#if model.title}}
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.title'}}</strong>
        </div>
        <div class="col-xs-9">
          {{model.title}}
        </div>
      </div>
      {{/if}}
      
      {{#if model.author}}
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.author'}}</strong>
        </div>
        <div class="col-xs-9">
          {{model.author}}
        </div>
      </div>
      {{/if}}
      
      {{#if model.type_of_record_string}}
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.type_of_record.label'}}</strong>
        </div>
        <div class="col-xs-9">
          {{type_of_record_string}}
        </div>
      </div>
      {{/if}}

      {{#if model.chronology_string}}
      <div class="row">
        <div class="col-xs-3">
         {{t 'jobs.chronology'}}
       </div>
       <div class="col-xs-9">
        {{model.chronology_string}}
      </div>
    </div>
    {{/if}}

    {{#if model.ordinality_string}}
    <div class="row">
      <div class="col-xs-3">
       {{t 'jobs.ordinality'}}
     </div>
     <div class="col-xs-9">
      {{model.ordinality_string}}
    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="col-xs-3">
      <strong>{{t 'jobs.copyright'}}</strong>
    </div>
    <div class="col-xs-9">
      {{#if copyright}}
      <button class="btn btn-danger active btn-xs">{{model.copyright_string}}</button>
      {{else}}
      <button class="btn btn-success active btn-xs">{{model.copyright_string}}</button>
      {{/if}}
    </div>
  </div>
</div>
<div class="col-xs-6">
  {{#if model.object_info}}
  <div class="clearfix"></div>
  <strong>{{t 'jobs.object_info'}}</strong> <pre>{{model.object_info}}</pre>
  {{/if}}
  {{#if model.comment}}
  <div class="clearfix"></div>
  <strong>{{t 'jobs.comment'}}</strong> <pre>{{model.comment}}</pre>
  {{/if}}
</div>

<div class="col-xs-12" style="margin-top:20px">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{t jobs.history}}
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table">
            <tr></tr>
            {{#each activity in model.activities}}
            {{job-activity activity=activity}}
            {{/each}}
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{t jobs.other}}
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          {{xml-link jobId=model.id}}
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>

{{partial 'jobs/modals'}}