{{#if model.breadcrumb}}
<ul class="breadcrumb">
  <li>{{#link-to 'node.show' 'root'}}{{t 'nodes.root'}}{{/link-to}}</li>
  {{#each parent in model.breadcrumb}}
  {{#if parent.id}}
  <li>{{link-to parent.name 'node.show' parent.id}}</li>
  {{else}}
  <li>{{parent.name}}</li>
  {{/if}}
  {{/each}}
</ul>
{{/if}}

{{outlet}}

{{#if model.error}}
<div class="alert alert-danger">
  {{model.error.msg}}
</div>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading" style="padding-top:8px;">
    <span class="panel-title"><strong>{{model.id}}</strong> {{model.display}}</span>{{#if model.quarantined}} <span class="label label-danger"> {{t 'menu.quarantine'}}</span>{{/if}}
    <span class="pull-right" style="margin-top:0px;padding-top:0px;">
      {{#if session.can_manage_jobs}}

      {{#link-to 'jobs.show.edit' model class="btn navbar-btn"}}{{icon-link titleKey='jobs.edit' classNames='fa fa-2x fa-pencil-square-o'}}{{/link-to}}
      <a class="btn" {{action 'deleteJob' model.id}}>{{icon-link titleKey='jobs.delete' classNames='fa fa-2x fa-trash'}}</a>
      {{print-link jobId=model.id type="button" titleKey='jobs.print'}}

      <a type="button" class="btn" data-toggle="modal" data-target="#restartModal">
        {{icon-link titleKey='jobs.restart' classNames='fa fa-2x fa-recycle'}}
      </a>

      {{#if model.quarantined}}
      <!-- Button trigger modal -->
      <a type="button" class="btn" data-toggle="modal" data-target="#unQuarantineModal">
        {{icon-link titleKey='jobs.unQuarantine' classNames='fa fa-2x fa-exclamation-triangle'}}
      </a>
      {{else}}
      <!-- Button trigger modal -->
      <a type="button" class="btn" data-toggle="modal" data-target="#quarantineModal">
        {{icon-link titleKey='jobs.quarantine' classNames='fa fa-2x fa-exclamation-triangle'}}
      </a>
      {{/if}}

      {{/if}}
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div {{bind-attr class=":alert model.isDone:alert-success model.isError:alert-danger model.isProcessing:alert-info model.isWaitingForAction:alert-warning"}}>
          {{#unless model.isDone}}<strong>{{t 'jobs.flowStep'}}:</strong> {{model.status_string}}<br/>
          {{model.sinceStarted}} {{#if model.flow_step.process_msg}}{{t 'flowStep.process_msg'}}: {{model.flow_step.process_msg}}{{/if}}{{else}}<strong>{{t 'jobs.states.FINISH'}}</strong>{{/unless}}
        </div>
      </div>
      <div class="col-xs-6">
        {{#if session.can_manage_jobs}}
          {{#if model.quarantined}}
          <!-- Button trigger modal -->
          <a type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#unQuarantineModal">
          <i class="fa fa-lg fa-exclamation-triangle"></i> {{t 'jobs.unQuarantine'}}
          </a>
          {{else}}
            {{#if model.waitingForManualAction}}
              <button class="btn btn-primary" {{action 'flowStepSuccess' model.id model.flow_step.step}}>{{model.flow_step.params.msg}}</button>
            {{/if}}
            {{#if model.qualityControl}}
              <button class="btn btn-primary" {{action 'qualityControlJob' model.id}}>{{t 'jobs.qualityControl'}}</button>
            {{/if}}
          {{/if}}
          {{#if model.has_pdf}}
            <a class="btn btn-default btn-lg pull-right" {{bind-attr href=pdfUrl}} target="_blank"><i class="fa fa-file-pdf-o" style="color:red"></i> {{t 'jobs.pdfLink'}}</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-3">
            <strong>{{t 'jobs.source'}}</strong> 
          </div>
          <div class="col-xs-9">
            {{model.source_label}} ( 
            {{#if model.source_link}}
            <a {{bind-attr href=model.source_link}} target="_blank">{{model.catalog_id}}</a>
            {{else}}
            {{model.catalog_id}}
            {{/if}}
            )
          </div>
        </div>

        {{#if model.title}}
        <div class="row">
          <div class="col-xs-3">
            <strong>{{t 'jobs.title'}}</strong>
          </div>
          <div class="col-xs-9">
            {{model.title}}
          </div>
        </div>
        {{/if}}

        {{#if model.author}}
        <div class="row">
          <div class="col-xs-3">
            <strong>{{t 'jobs.author'}}</strong>
          </div>
          <div class="col-xs-9">
            {{model.author}}
          </div>
        </div>
        {{/if}}

        {{#if model.hasTypeOfRecord}}
        <div class="row">
          <div class="col-xs-3">
            <strong>{{t 'jobs.type_of_record.label'}}</strong>
          </div>
          <div class="col-xs-9">
            {{model.type_of_record_string}}
          </div>
        </div>
        {{/if}}

        {{#if model.chronology_string}}
        <div class="row">
          <div class="col-xs-3">
           {{t 'jobs.chronology'}}
         </div>
         <div class="col-xs-9">
          {{model.chronology_string}}
        </div>
      </div>
      {{/if}}

      {{#if model.ordinality_string}}
      <div class="row">
        <div class="col-xs-3">
         {{t 'jobs.ordinality'}}
       </div>
       <div class="col-xs-9">
        {{model.ordinality_string}}
      </div>
    </div>
    {{/if}}

    <div class="row">
      <div class="col-xs-3">
        <strong>{{t 'jobs.copyright'}}</strong>
      </div>
      <div class="col-xs-9">
        {{#if model.copyright}}
        <div class="label label-danger active btn-xs">{{model.copyright_string}}</div>
        {{else}}
        <div class="label label-success active btn-xs">{{model.copyright_string}}</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-xs-6">
  {{#if session.can_manage_jobs}}
    {{#if model.object_info}}
    <div class="clearfix"></div>
    <strong>{{t 'jobs.object_info'}}</strong> {{markdown-text model.object_info}}
    {{/if}}
    {{#if model.comment}}
    <div class="clearfix"></div>
    <strong>{{t 'jobs.comment'}}</strong> {{markdown-text model.comment}}
    {{/if}}
  {{/if}}
  </div>
</div>

<div class="col-xs-12" style="margin-top:20px">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{t 'jobs.history'}}
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table">
            <tr></tr>
            {{#each activity in model.activities}}
            {{job-activity activity=activity}}
            {{/each}}
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{t 'jobs.metadata'}}
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          {{xml-link jobId=model.id}}
          <br/>
          {{t 'jobs.number_of_images'}}: {{model.package_metadata.image_count}}
        <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Page Type</th>
            <th>Page Content</th>
            <th>Group Name</th>
          </tr>
        </thead>
        <tbody>
        {{#each image in model.package_metadata.images}}
          <tr>
            <td>{{image.num}}</td>
            <td>{{image.page_type}}</td>
            <td>{{image.page_content}}</td>
            <td>{{image.group_name}}</td>
          </tr>
        {{/each}}
        </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            {{t 'jobs.files'}}
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          {{#each file in model.files}}
              {{tree-item item=file jobId=model.id}}
            {{/each}}
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            {{t 'jobs.flow'}}: {{model.flow}}
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          {{flow-table flowSteps=model.flow_steps}}
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>

{{partial 'jobs/modals'}}
