{{#if breadcrumb}}
  <ul class="breadcrumb">
    <li>{{#link-to 'node.show' 'root'}}{{t 'nodes.root'}}{{/link-to}}</li>
    {{#each parent in breadcrumb}}
      {{#if parent.id}}
        <li>{{link-to parent.name 'node.show' parent.id}}</li>
      {{else}}
        <li>{{parent.name}}</li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}

<div class="navbar navbar-default sub-navbar">
  <div class="navbar-header">
    <a href="javascript:void(0)" class="navbar-brand">{{id}}</a>
  </div>
  <ul class="navbar-nav nav navbar-right">
    {{#if session.can_manage_jobs}}
      <a {{bind-attr href=printURL}} class="btn btn-default navbar-btn" target="_blank">Utskrift</a>
      {{#if startable}}
        <button class="btn btn-primary navbar-btn" {{action 'startJob' id}}>{{t 'jobs.start'}}</button>
      {{/if}}
    {{/if}}
  </ul>
</div>

{{#if error}}
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{id}}. {{display}}</div>
  </div>
  <div class="panel-body">
    <strong>Kalla:</strong> {{source}} {{catalog_id}}<br/>
    {{#if title}}
      <strong>Titel:</strong> {{title}}<br/>
    {{/if}}
    {{#if author}}
      <strong>Forfattare:</strong> {{author}}
    {{/if}}
    {{#if object_info}}
      <div class="clearfix"></div>
      <strong>Objektinformation:</strong> {{object_info}}
    {{/if}}
    {{#if comment}}
      <div class="clearfix"></div>
      <strong>Objektinformation:</strong> {{comment}}
    {{/if}}
    {{#if activities}}
      {{#each activity in activities}}
        {{activity.created_at}} {{activity.event}} {{activity.username}} {{activity.message}}
      {{/each}}
    {{/if}}
    
  </div>
</div>
