{{#if breadcrumb}}
  <ul class="breadcrumb">
    <li>{{#link-to 'node.show' 'root'}}{{t 'nodes.root'}}{{/link-to}}</li>
    {{#each parent in breadcrumb}}
      {{#if parent.id}}
        <li>{{link-to parent.name 'node.show' parent.id}}</li>
      {{else}}
        <li>{{parent.name}}</li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{id}}. {{display}}</div>
  </div>
  <div class="panel-body">
    <strong>Kalla:</strong> {{source}} {{catalog_id}}<br/>
    {{#if title}}
      <strong>Titel:</strong> {{title}}<br/>
    {{/if}}
    {{#if author}}
      <strong>Forfattare:</strong> {{author}}
    {{/if}}
    {{#if object_info}}
      <div class="clearfix"></div>
      <strong>Objektinformation:</strong> {{object_info}}
    {{/if}}
    {{#if comment}}
      <div class="clearfix"></div>
      <strong>Objektinformation:</strong> {{comment}}
    {{/if}}
    {{#if activities}}
      {{#each activity in activities}}
        {{activity.created_at}} {{activity.event}} {{activity.username}} {{activity.message}}
      {{/each}}
    {{/if}}
  </div>
</div>
