{{#if breadcrumb}}
<ul class="breadcrumb">
  <li>{{#link-to 'node.show' 'root'}}{{t 'nodes.root'}}{{/link-to}}</li>
  {{#each parent in breadcrumb}}
  {{#if parent.id}}
  <li>{{link-to parent.name 'node.show' parent.id}}</li>
  {{else}}
  <li>{{parent.name}}</li>
  {{/if}}
  {{/each}}
</ul>
{{/if}}

<div class="navbar navbar-default sub-navbar">
  <div class="navbar-header">
    <a href="javascript:void(0)" class="navbar-brand">{{id}}</a>
  </div>
  <ul class="navbar-nav nav navbar-right">
    {{#if session.can_manage_jobs}}
    <button class="btn btn-danger navbar-btn" {{action 'deleteJob' id}}>{{t 'jobs.delete'}}</button>
    {{print-link id=model.id type="button"}}
    {{#if startable}}
    <button class="btn btn-primary navbar-btn" {{action 'startJob' id}}>{{t 'jobs.start'}}</button>
    {{/if}}
    {{/if}}
  </ul>
</div>

{{#if error}}
<div class="alert alert-danger">
  {{error.msg}}
</div>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><strong>{{id}}</strong> {{display}}</div>
  </div>
  <div class="panel-body">
    <div class="alert alert-success">
      <strong>Status:</strong> {{status_string}}
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.source'}}</strong> 
        </div>
        <div class="col-xs-9">
          {{source_label}} ( 
          {{#if source_link}}
            <a {{bind-attr href=source_link}} target="_blank">{{catalog_id}}</a>
          {{else}}
            {{catalog_id}}
          {{/if}}
           )
        </div>
      </div>
      
      {{#if title}}
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.title'}}</strong>
        </div>
        <div class="col-xs-9">
          {{title}}
        </div>
      </div>
      {{/if}}
      
      {{#if author}}
      <div class="row">
        <div class="col-xs-3">
          <strong>{{t 'jobs.author'}}</strong>
        </div>
        <div class="col-xs-9">
          {{author}}
        </div>
      </div>
      {{/if}}
      
      {{#if type_of_record_string}}
      <div class="row">
        <div class="col-xs-3">
          <strong>Typ:</strong>
        </div>
        <div class="col-xs-9">
          {{type_of_record_string}}
        </div>
      </div>
      {{/if}}

      {{#if chronology_string}}
        <div class="row">
          <div class="col-xs-3">
             -Kronologi
          </div>
          <div class="col-xs-9">
          {{chronology_string}}
          </div>
        </div>
      {{/if}}

      {{#if ordinality_string}}
        <div class="row">
          <div class="col-xs-3">
             -Ordinalitet
          </div>
          <div class="col-xs-9">
          {{ordinality_string}}
          </div>
        </div>
      {{/if}}

      <div class="row">
        <div class="col-xs-3">
          <strong>Copyright</strong>
        </div>
        <div class="col-xs-9">
          {{#if copyright}}
          <button class="btn btn-danger active btn-xs">{{copyright_string}}</button>
          {{else}}
          <button class="btn btn-success active btn-xs">{{copyright_string}}</button>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      {{#if object_info}}
      <div class="clearfix"></div>
      <strong>{{t 'jobs.object_info'}}</strong> <pre>{{object_info}}</pre>
      {{/if}}
      {{#if comment}}
      <div class="clearfix"></div>
      <strong>{{t 'jobs.comment'}}</strong> <pre>{{comment}}</pre>
      {{/if}}

    </div>

    <div class="col-xs-12" style="margin-top:20px">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Historik
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table class="table">
                <tr></tr>
                {{#each activity in activities}}
                {{job-activity activity=activity}}
                {{/each}}
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                XML
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              {{xml}}
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
