{{#if breadcrumb}}
  <ul class="breadcrumb">
    <li>{{#link-to 'node.show' 'root'}}{{t 'nodes.root'}}{{/link-to}}</li>
    {{#each parent in breadcrumb}}
      {{#if parent.id}}
        <li>{{link-to parent.name 'node.show' parent.id}}</li>
      {{else}}
        <li>{{parent.name}}</li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}

<div class="navbar navbar-default sub-navbar">
  <div class="navbar-header">
    <a href="javascript:void(0)" class="navbar-brand">{{id}}</a>
  </div>
  <ul class="navbar-nav nav navbar-right">
    {{#if session.can_manage_jobs}}
      {{print-link id=model.id type="button"}}
      {{#if startable}}
        <button class="btn btn-primary navbar-btn" {{action 'startJob' id}}>{{t 'jobs.start'}}</button>
      {{/if}}
    {{/if}}
  </ul>
</div>

{{#if error}}
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{id}}. {{display}}</div>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <strong>{{t 'jobs.source'}}</strong> {{source}} {{catalog_id}}<br/>
      {{#if title}}
        <strong>{{t 'jobs.title'}}</strong> {{title}}<br/>
      {{/if}}
      {{#if author}}
        <strong>{{t 'jobs.author'}}</strong> {{author}}
      {{/if}}
    </div>
    <div class="col-xs-6">
      {{#if object_info}}
        <div class="clearfix"></div>
        <strong>{{t 'jobs.object_info'}}</strong> <pre>{{object_info}}</pre>
      {{/if}}
      {{#if comment}}
        <div class="clearfix"></div>
        <strong>{{t 'jobs.comment'}}</strong> <pre>{{comment}}</pre>
      {{/if}}
      {{#if activities}}
      <table class="table">
      <tr></tr>
        {{#each activity in activities}}
          {{job-activity activity=activity}}
        {{/each}}
      {{/if}}
      </table>

    </div>
    
  </div>
</div>
