<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">Namn</label>
    <div class="col-sm-10">
      {{input value=model.name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Beskrivning</label>
    <div class="col-sm-10">
      {{input value=model.description class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Parameterar</label>
    <div class="col-sm-10">
      {{textarea value=model.parameters class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Jobb-kataloger</label>
    <div class="col-sm-10">
      {{textarea value=model.folder_paths class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Flödessteg</label>
    <div class="col-sm-10">
      {{textarea value=model.flow_steps class="form-control"}}
    </div>
  </div>
</div>
