<div class="min-sidebar">
  <div class="form-group col-xs-12">
    <div class="col-xs-6 col-md-4">
    <label>{{t 'nodes.name'}}</label>
    </div>
    <div class="col-xs-6 col-md-8">
      {{#if error}}
      {{error.msg}}
      {{/if}}
    </div>
    <div class="col-xs-12">
      {{input type="text" classBinding=":form-control :col-xs-6" value=model.name}}
    </div>
  </div>
  <button class="btn btn-primary" {{action 'saveNode' model}}>{{t 'nodes.update'}}</button>
  <div class="clearfix"></div>
</div>