<div class="min-sidebar">
  <div class="form-group col-xs-12">
    <div class="col-xs-6 col-md-4">
    <label>{{t 'nodes.name'}}</label>
    </div>
    <div class="col-xs-6 col-md-8">
      {{#if errors.name}}
      {{#each msg in errors.name}}
      <span class="has-error"><span class="glyphicon glyphicon-ban-circle"></span> {{msg}}</span>
      {{/each}}
      {{/if}}
    </div>
    <div class="col-xs-12">
      {{input type="text" classBinding=":form-control :col-xs-6" value=model.name}}
    </div>
  </div>
  <div>{{model.parent_id}}</div>
  <button class="btn btn-primary" {{action 'createNode' model}}>{{t 'nodes.create'}}</button>
  <div class="clearfix"></div>
</div>
