<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}{{t 'main.title'}}{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'node.show' 'root'}}{{t 'menu.nodes'}}{{/link-to}}</li>
      <li>{{#link-to 'jobs.index' (query-params quarantined="" query="")}}{{t 'menu.jobs'}}{{/link-to}}</li>
      {{#if session.isAuthenticated}}
      <li>{{#link-to 'jobs.index' (query-params quarantined="true" query="")}}{{t 'menu.quarantine'}}{{/link-to}}</li>
      {{/if}}
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        {{input action="showJob" class="form-control" value=job_id placeholderTranslation="jobs.searchById"}}
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      {{#if session.can_view_users}}
      <ul class="nav navbar-nav">
        <li>{{#link-to 'users.index'}}{{t 'menu.users'}}{{/link-to}}</li>
      </ul>
      {{/if}}
      {{#if session.isAuthenticated}}
      
      <p class="navbar-text"><i class="fa fa-user"></i><strong> {{session.name}}</strong></p>
      <li>
        <a href="javascript:void(0)" {{action 'invalidateSession'}}>{{t 'menu.logout'}}</a>
      </li>
      {{else}}
      <li>
       {{#link-to 'login'}}{{t 'menu.login'}}{{/link-to}}
     </li>
     {{/if}}
   </ul>
 </div>
</nav>
